apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-catalog-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-catalog
  template:
    metadata:
      labels:
        app: product-catalog
    spec:
      containers:
        - image: metatheory/product-catalog:2022-12-28-14-54-38
          name: product-catalog
          env:
            - name: KUMULUZEE_DATASOURCES0_CONNECTIONURL
              value: jdbc:postgresql://mouse.db.elephantsql.com:5432/sqpivtck
            - name: KUMULUZEE_DATASOURCES0_USERNAME
              value: sqpivtck
            - name: KUMULUZEE_DATASOURCES0_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: product-catalog-database-password
                  key: KUMULUZEE_DATASOURCES0_PASSWORD
            - name: KUMULUZEE_AMQP_RABBITMQ_HOSTS0_URL
              value: rabbitmq
            - name: KUMULUZEE_DATASOURCES0_POOL_MAX_SIZE
              value: 4
          ports:
            - containerPort: 8080
              name: products-port
              protocol: TCP
          imagePullPolicy: IfNotPresent
          

---

apiVersion: v1
kind: Service
metadata:
  name: product-catalog
spec:
  type: NodePort
  ports:
    - port: 8080
      protocol: TCP
      targetPort: products-port
  selector:
    app: product-catalog
