kumuluzee:
  name: product-catalog-microservice
  env:
    name: dev
  version: 1.0.0
  server:
    base-url: http://localhost:8080
    http:
      port: 8080
  datasources:
    - jndi-name: jdbc/ProductsDS
      connection-url: jdbc:postgresql://localhost:5432/products
      username: dbuser
      password: postgres
      max-pool-size: 20
  cors-filter:
    annotations:
      my-resource:
        allow-origin: "*"
        allow-subdomains: true